html{
    font-family: 'Inter', sans-serif;
}

.image-position{
    position: relative;
    top: -4rem;
}

.icon{
    width: 4.5rem;
    margin-left: 1rem;
}

.btn{
    margin-top: 2rem;
}

.darkMode{
    
}

.all-elements-area{
    z-index: -8;
}