html{
    font-family: 'Inter', sans-serif;
}

.image-position{
    position: relative;
    top: -2.5rem;
}

.icon{
    width: 4.5rem;
    margin-left: 1rem;
}

.btn{
    margin-top: 2rem;
}

.darkMode{
    
}