.b-pastel{
  outline: 0;
  border: 1px solid black;
  position: relative;
} .b-pastel i{
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 30%;
  transition: transform 1;
} .b-pastel div{
  transition: transform 0.5s;
} .b-pastel:hover div{
  transform: translateX(-6px);
} .b-pastel::after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.5s all;
  border-radius: 64px;
} .b-pastel:hover i {
  opacity: 1;
  transform: translateX(-6px);
} .b-pastel:hover::after {
  top: 0px;
  left: 0px;
} 
.b-pastel-wt::after {background-color: var(--wt);} 
.b-pastel-bk::after {background-color: var(--bk);} 
.b-pastel-mb::after {background-color: var(--mb);} 

.c-pointer{cursor: pointer;}