:root{
    --mw: #fff;

    --mbk: #000;
    --sbk: #181a1b;

    --mgy: #3b4043;
    --sgy: #c0c0c0;

    --mr: #a91111;
    --sr: #fd4d4d;

    --my: #fff12a;
    --sy: #fff786;

    --mg: #37ca13;
    --sg: #a0f98a;

    --mb: #1e90ff;
    --sb: #96d1fb;

    --mp: #ae30c8;
    --sp: #e496f5;
}