@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /*Inter*/

.wt-font{color: var(--wt);}
.bk-font{color: var(--bk);}
.my-font{color: var(--my);}
.mp-font{color: var(--mp);}
.mr-font{color: var(--mr);}
.mb-font{color: var(--mb);}