.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.gap{grid-gap: 1rem;}
.hr-gap{grid-row-gap: 10rem;}

.col1{grid-column: span 1;}
.col2{grid-column: span 2;}
.col4{grid-column: span 4;}
.col6{grid-column: span 6;}
.col8{grid-column: span 8;}
.col12{grid-column: span 12;}