.jc-start{justify-content: start;}
.jc-center{justify-content: center;}
.jc-ar{justify-content: space-around;}
.jc-bet{justify-content: space-between;}
.jc-ev{justify-content: space-evenly;}
.jc-end{justify-content: end;}

.ji-start{justify-items: start;}
.ji-center{justify-items: center;}
.ji-end{justify-items: end;}

.js-start{justify-self: start;}
.js-center{justify-self: center;}
.js-end{justify-self: end;}

.ac-start{align-content: start;}
.ac-center{align-content: center;}
.ac-ar{align-content: space-around;}
.ac-bet{align-content: space-between;}
.ac-ev{align-content: space-evenly;}
.ac-end{align-content: end;}

.ai-start{align-items: start;}
.ai-center{align-items: center;}
.ai-end{align-items: end;}

.as-start{align-self: start;}
.as-center{align-self: center;}
.as-end{align-self: end;}

.ta-center{text-align: center;}
.center{margin: 0 auto;}