@media(max-width: 1200px){
    .w50a{width: 60%;}
    .w60a{width: 70%;}

    .grid{grid-template-columns: repeat(8, 1fr);}
    .col2{grid-column: span 1;}
    .col4{grid-column: span 2;}
    .col6{grid-column: span 4;}
    .col8{grid-column: span 6;}
    .col12{grid-column: span 8;}
}

@media(max-width: 960px){
    html{
        font-size: 12px;
    }

    .w50a{width: 70%;}
    .w60a{width: 80%;}

    .grid{grid-template-columns: repeat(4, 1fr);}
    .col4{grid-column: span 1;}
    .col6{grid-column: span 2;}
    .col8{grid-column: span 3;}
    .col12{grid-column: span 4;}
}

@media(max-width: 720px){
    .w50a{width: 80%;}
    .w60a{width: 85%;}

    .grid{grid-template-columns: repeat(2, 1fr);}
    .col8{grid-column: span 2;}
    .col12{grid-column: span 2;}
}

@media(max-width: 480px){
    html{
        font-size: 8px;
    }

    .w50a{width: 85%;}
    .w60a{width: 90%;}

    .grid{grid-template-columns: repeat(2, 1fr);}
    .col8{grid-column: span 2;}
    .col12{grid-column: span 2;}

    .b-pastel::after {
        top: 0px;
        left: 0px;
    } 
}