.btn{
    outline: 0;
    border: 1px solid black;
    position: relative;
} 
.btn i{
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 1px;
    bottom: 1px;
    transition: transform 1;
} 
.btn div{
    transition: transform 0.5s;
} 
.btn:hover div{
    transform: translateX(-6px);
} 
.btn:hover i {
    opacity: 1;
    transform: translateX(-6px);
}