:root{
    --mb: #1e90ff;
    --sb: #96d1fb;

    --mp: #800080;
    --sp: #ba55d3;

    --mr: #ff0000;
    --sr: #ff7070;

    --mg: #008000;
    --sg: #3cb371;

    --my: #ffff00;
    --sy: #ffd700;

    --wt: #fff;
    --bk: #000;
}