.w100{width: 100%;} .vw100{width: 100vw;}
.w95{width: 95%;} .vw95{width: 95vw;}
.w88{width: 88%;} .vw88{width: 88vw;}
.w50{width: 50%;} .vw50{width: 50vw;}
.w35{width: 35%;} .vw25{width: 35vw;}
.w25{width: 25%;} .vw25{width: 25vw;}

.h100{height: 100%;}
.vh100{height: 100vh;}

