/* Standart backgrounds */
.bg-mwt{background-color: var(--mwt);} 

.bg-mbk{background-color: var(--mbk);} .bg-sbk{background-color: var(--sbk);}

.bg-mgy{background-color: var(--mgy);} .bg-sgy{background-color: var(--sgy);}

.bg-mr{background-color: var(--mr);} .bg-sr{background-color: var(--sr);}

.bg-my{background-color: var(--my);} .bg-sy{background-color: var(--sy);}

.bg-mg{background-color: var(--mg);} .bg-sg{background-color: var(--sg);}

.bg-mb{background-color: var(--mb);} .bg-sb{background-color: var(--sb);}

.bg-mp{background-color: var(--mp);} .bg-sp{background-color: var(--sp);}